.ranking-list-div {
    padding: 1rem;
    display: grid;
    margin-bottom: 1.5rem;
}

.ranking-list-title {
    border-bottom: 2px solid #caeddd;
}

@media (max-width: 1060px) {
    .ranking-list-div {
        padding: 1rem;
    }
}

@media (max-width: 996px) {
    .ranking-list-div {
        padding: 0.7rem;
    }
}