.ranking-list-div {
    padding: 1.5rem;
    display: grid;
}

@media (max-width: 1060px) {
    .ranking-list-div {
        padding: 1rem;
    }
}

@media (max-width: 996px) {
    .ranking-list-div {
        padding: 0.7rem;
    }
}