.ranking-form-div {
    display: grid;
    border: 1px solid;
    padding: 1.5rem;
    height: 200px;
    border-radius: 2%;
}

.ranking-form {
    display: grid;
    place-items: center start;
}

.ranking-form-button {
    min-width: 100%;
}

