.ranking-form-div {
    display: grid;
    place-items: center center;
    min-height: 40%;
}

.ranking-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.ranking-form-input {
    height: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #bee7d4;
    border-radius: 3%;
    color: #ff7300;
    padding: 0.25rem;
}

.ranking-form-button {
    border-radius: 3%;
    background-color: #bee7d4;
    border: 1px solid #bee7d4;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #062e5d;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #ff7300;
    border: 1px solid #ff7300;
    color: #062e5d;
}

.form-sumbit-error-p {
    text-align: center;
    font-size: 0.6rem;
}

/* media query */

@media (max-width: 1160px) {
    .ranking-form {
        max-width: 160px;
    }
}

@media (max-width: 996px) {
    .ranking-form {
        max-width: 120px;
    }
}

@media (max-width: 980px) {
    .ranking-form {
        max-width: 100px;
    }
}

@media (max-width: 730px) {
    .ranking-form {
        max-width: 60px;
    }
}