.user-li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #caeddd;
}

.user-name-h4 {
    cursor: pointer;
}

.user-score-h4 {
    color: #ff7300;
}

@media (max-width: 745px) {
    .user-name-h4, .user-score-h4 {
        font-size: 0.75rem;
    }
}