.user-li {
    display: flex;
    justify-content: space-between;
}

.user-li:first-child {
    animation: highlight 0.5s 1;
    animation-delay: 1.5s;
}

.user-name-h3 {
    cursor: pointer;
}

/* media query */
@media (max-width: 1160px) {
    .user-name-h3, .user-score-h3 {
        font-size: 0.9rem;
    }
}

@media (max-width: 1160px) {
    .user-name-h3, .user-score-h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 996px) {
    .user-name-h3, .user-score-h3 {
        font-size: 0.7rem;
    }
}