// @import "~mt-ui/lib/style.less";

* {
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

// general
body {
  background: rgba(173,51,255,1);
  background: -moz-linear-gradient(left, rgba(173,51,255,1) 0%, rgba(46,33,228,1) 40%, rgba(24,47,165,1) 76%, rgba(96,181,215,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173,51,255,1)), color-stop(40%, rgba(46,33,228,1)), color-stop(76%, rgba(24,47,165,1)), color-stop(100%, rgba(96,181,215,1)));
  background: -webkit-linear-gradient(left, rgba(173,51,255,1) 0%, rgba(46,33,228,1) 40%, rgba(24,47,165,1) 76%, rgba(96,181,215,1) 100%);
  background: -o-linear-gradient(left, rgba(173,51,255,1) 0%, rgba(46,33,228,1) 40%, rgba(24,47,165,1) 76%, rgba(96,181,215,1) 100%);
  background: -ms-linear-gradient(left, rgba(173,51,255,1) 0%, rgba(46,33,228,1) 40%, rgba(24,47,165,1) 76%, rgba(96,181,215,1) 100%);
  background: linear-gradient(to right, rgba(173,51,255,1) 0%, rgba(46,33,228,1) 40%, rgba(24,47,165,1) 76%, rgba(96,181,215,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad33ff', endColorstr='#60b5d7', GradientType=1 );
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  line-height: 170%;
}

//typography
h1 {
  font-size: 8rem;
  line-height: 150%;
  letter-spacing: 3px;
}

h2 {
  line-height: 170%;
}

h3, h4 {
  line-height: 200%;
  letter-spacing: 1px;
}

.excel-dropzone__label {
  text-align: center;
  padding: 80px 0.5rem 0 0.5rem;
  line-height: 170%;
}

// layout
.root-grid {
  display: grid;
  grid-template-rows: minmax(1rem, 2rem) minmax(500px, 3fr) minmax(1rem, 2rem);
  grid-template-columns: minmax(1rem, 3rem) repeat(5, minmax(50px, 1fr)) minmax(1rem, 3rem);
  grid-template-areas:". . . . . . ." 
                      ". app-title-div app-title-div app-title-div app-content-column-1 app-content-column-2 ."
                      ". . . . . . ." ;
}

.app-title-div {
  grid-area: app-title-div;
  margin-top: 80px;
}

.app-title {
  vertical-align: baseline;
  transform: translateX(-100%);
}

.app-content-column-1 {
  grid-area: app-content-column-1;
  margin-top: 60px;
  margin-right: 1rem;
}

.app-content-column-2 {
  grid-area: app-content-column-2;
  margin-top: 180px;
}

// div style
.div-block-style {
  min-height: 200px;
  transform: translatey(0px);
}

.drop-zone-custom-style {
  border: 3px dotted white;
  min-height: 200px;
  border-radius: 3%;
  margin-bottom: 1rem;
  cursor: pointer;
  animation: float 5s ease-in-out 1;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

// animation

//app title animation
.title-ran {
  animation: animate-from-left 0.8s ease-in-out forwards;
}

.title-king {
  animation: animate-from-left 1s ease-in-out forwards;
  animation-delay: 0.1s;
}

.title-app {
  animation: animate-from-left 1s ease-in-out forwards;
  animation-delay: 0.2s;
}

@keyframes animate-from-left {
  to {
    transform:translateX(0);
  }
}

//floating div animation
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

//background star animation
#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(1px 1px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 4s 1;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 0.2s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 0.7s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 0.9s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  25% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  80% {
    opacity: 0;
    transform: scale(3.5);
  }
}

@media (max-width: 1160px) {
  h1 {
    font-size: 7rem;
  }
  .app-title-div {
    margin-top: 100px;
  }
}

//animation to highlight score
@keyframes highlight {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
  } 
  20% {
    opacity: 0;
    animation-timing-function: linear;
  }
  40% {
      opacity: 1;
      animation-timing-function: linear;
  }
  80% {
      opacity: 0;
      animation-timing-function: linear;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1060px) {
  h1 {
    font-size: 6.2rem;
  }
  .app-title-div {
    margin-top: 140px;
  }
}

@media (max-width: 996px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.7rem;
  }

  .excel-dropzone__label {
    text-align: center;
    padding: 62px 0.5rem 0 0.5rem;
    line-height: 170%;
  }

  .app-title-div {
    margin-top: 200px;
  }
}
