// @import "~mt-ui/lib/style.less";

* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  color: #caeddd;
  letter-spacing: 1px;
}

// general
body {
  background-color: #062e5d;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  line-height: 170%;
}

// layout
.root-grid {
  display: grid;
  column-gap: 3rem;
  grid-template-rows: minmax(50px, 80px) minmax(120px, 190px) minmax(100px, 140px) minmax(120px, 200px) minmax(3rem, 5rem);
  grid-template-columns: minmax(1rem, 0.25fr) minmax(100px, 1fr) minmax(150px, 2fr) minmax(100px, 1fr) minmax(1rem, 0.25fr);
  grid-template-areas: ". . . . ."
                       ". column-left-input . column-right-list ."
                       ". column-left-input . column-right-list ."
                       ". column-left-input podium column-right-list ."
                       ". app-title-div app-title-div app-title-div .";
}

//podium grid area is in Podium component folder's css.

.app-title-div {
  padding: 2rem;
  grid-area: app-title-div;
  text-align: center;
}

.app-title {
  color: #ff7300;
  text-decoration: underline;
  font-size: 5.7rem;
  padding: 0;
  margin-top: -2.5rem;
}

.column-left-input {
  grid-area: column-left-input;
}

.column-right-list {
  grid-area: column-right-list;
}

// div style
.drop-zone-custom-style {
  border: 3px dotted #caeddd;
  border-radius: 3%;
  margin-bottom: 1rem;
  cursor: pointer;
}

//file drop zone css
.excel-dropzone__label {
  text-align: center;
  padding: 1rem;
  color: #caeddd;
}

//effect
.div-border-style {
  border: 1px solid #caeddd;
  border-radius: 1%;
  -webkit-box-shadow: 0px 8px 0px 0px rgba(190,231,212,1);
  -moz-box-shadow: 0px 8px 0px 0px rgba(190,231,212,1);
  box-shadow: 0px 8px 0px 0px rgba(190,231,212,1);
}

// media query
@media (max-width: 770px) {
  .app-title {
    margin-top: -1.5rem;
    font-size: 3rem;
  }
}
